@inherits LayoutComponentBase

<div class="position-relative d-flex flex-column">
    <main class="flex-grow-1">
        <article class="content px-2">
            @Body
        </article>
    </main>
</div>