@page "/"
@attribute [RenderModeServer]
<PageTitle>Sorting Hat</PageTitle>

<h1 class="d-flex align-items-center justify-content-center text-capitalize">Sorting Hat</h1>

<div class="container">
    
    @foreach(var house in House.All)
    {
        <HouseCard House="house" />    
    }
</div>
